.offer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
}

.offer {
    background: rgba(246, 246, 246, 0.75);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    width: 90%;
    margin: 0 auto;
}

.offer-card h1 {
    font-family: "Bebas Neue", sans-serif;
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.input-area form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-row {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.form-group {
    flex: 1; /* Adjust to evenly distribute fields */
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.form-group input, .form-group textarea {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1.2rem;
    font-family: "Josefin Sans", sans-serif;
    background: var(--white);
    transition: border 0.3s;
}

.form-group input:focus, .form-group textarea:focus {
    outline: none;
    border-color: seagreen;
    background: #fff;
}

textarea {
    resize: none;
}

.send {
    margin-top: 1rem;
    border: none;
    border-radius: 8px;
    padding: 0.8rem;
    background: var(--main-color);
    color: var(--white);
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background 0.5s ease, color 0.5s ease;
}

.send:hover {
    background: #fff;
    color: var(--main-color);
}

@media (max-width: 850px) {
    .offer-wrapper{
        padding: 1rem;
    }

    .offer {
        padding: 1.5rem;
    }

    .offer-card h1 {
        font-size: 1.5rem;
    }

    .form-row {
        flex-direction: column;
    }

    .send {
        font-size: 1rem;
    }
}

.field {
    color: #555;
    margin-top: .5rem;
}

