
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    background: var(--main-color);
    white-space: nowrap;
    position: relative;
    max-width: 100%;
    margin-bottom: 2rem;
}

@media (max-width: 850px) {
    .logos {
        display: none;
    }
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 175px;
    height: 100%;
    content: "";
    z-index: 2;
}


/*.logos:before {*/
/*    left: 0;*/
/*    background: linear-gradient(to left, transparent, var(--white));*/
/*}*/

/*.logos:after {*/
/*    right: 0;*/
/*    background: linear-gradient(to right, transparent, var(--white));*/

/*}*/

.logos:hover .logos-slide {
    animation-play-state: paused;
}


.logos-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
}

.logos-slide img {
    margin: 0 40px;
    height: 5rem;
    padding: 0;
    border: 0;
}

